* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  height: 500px;
  background-color: black;
  border: 2px solid gray;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px 2px;
}

button {
  color: white;
  font-size: 1.3rem;
  border: 0;
}

button:hover {
  color: black;
  border: 1px solid white;
}
